@page
@model CreateModel
@{
    ViewData["Title"] = "Creat";
}
<h2>Add New Restaurant</h2>

<h3>Enter info:</h3>

<form method = "post">
    <div>
        <table class="table">
            <tbody>
                <tr>
                    <td><div>Name: <input asp-for="restaurant.Name" /></div></td>
                    <td><div>Food Type: <input asp-for="restaurant.FoodType" /></div></td>
                    <td><div>Cafe: <input asp-for="restaurant.Cafe" /></div></td>
                </tr>
            </tbody>
        </table>
    </div>

    <div><input type="submit"/></div>
</form>